.about {
  align-items: center;
  background-color: rgb(4, 71, 182);
  border-radius: 5px;
  box-shadow: 0px 0px 20px 5px rgb(18, 102, 238);
  color: white;
  display: flex;
  flex-wrap: wrap;
  font-size: 20px;
  font-weight: 400;
  justify-content: center;
  margin: 0 20%;
  min-width: 50vw;
  padding: 2% 5%;
}

.about img {
  width: 60%;
}
.additional-images {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin-top: 2%;
}

.additional-images img {
  border: solid 2px white;
  border-radius: 100%;
  margin: 2%;
  min-height: 14vw;
  min-width: 14vw;
}