.footer {
  align-items: center;
  background-color: rgb(105, 102, 102);
  box-shadow: 0px -2px 2px rgb(66, 70, 62);
  color: white;
  display: flex;
  font-size: 20px;
  justify-content: center;
  margin-top: 5%;
  min-height: 10vh;
  padding: 0 5%;
}